<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>symbol:video.fill</string>
	<key>CFBundleIdentifier</key>
	<string>com.tokanhaku.LaunchBar.action.ConvertMTSForPhotos</string>
	<key>CFBundleName</key>
	<string>Convert MTS for Photos</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Huanbo Tu</string>
		<key>LBSummary</key>
		<string>Convert selected MTS videos to compact HEVC MP4 files for Photos.app.</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.py</string>
		</dict>
	</dict>
</dict>
</plist>
